.card {
  width: 220px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 8px;
}

.card h3 {
  margin-top: 10px;
}